<div>{{aboutMessage}}</div>
<a href="/">
    <div class="circular green ui animated button">
        <div class="visible content"><i class="left arrow icon"></i></div>
        <div class="hidden content">
            <div>Home</div>
        </div>
    </div>
</a>
