<div>{{welcomeMessage}}</div>
<a href="/about">
    <div class="circular blue ui animated button">
        <div class="visible content"><i class="right arrow icon"></i></div>
        <div class="hidden content">
            <div>About</div>
        </div>
    </div>
</a>