<header>
    <div class="ui header vertical green segment">
        <h1 class="ui header">
            <a href="https://github.com/Daveloper87/koa-skeleton">
                <i class="ui fork large  green icon"></i>
            </a>

            <div class="content">
                {{title}}
            </div>
        </h1>
    </div>
</header>
